body {
    background-color: #f8f9fa;
}

.alert {
    text-align: center;
}

.nav-link.btn {
    padding-top: 8px;
    padding-bottom: 8px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;